doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title World Wide Web
  body
    .header
      h1.page-title World Wide Web

    ul.nav
      li: a(href='/') Home
      li: a(href='#news') News
      li: a(href='#about') About
      li: a(href='#contact') Contact

    .main-content
      block content

    .footer
      p Copyright © 2020 Futurecorpz. Futurecorpz ® is a Registered Trademark of Futures (un)Ltd. in the Mars Community and other solar systems.

  script(src='/js/voice.js')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js')
  //script(src='//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.1/annyang.min.js')
  script.
    console.log('TEST')
    if (annyang) {
    // Let's define a command.
    var commands = {
    'hello': function() { console.log('HALTS MAUL!'); },
    'bye': function() { alert('Goodbye world!'); }
    };
    // Add our commands to annyang
    annyang.addCommands(commands);
    // Start listening.
    annyang.start();
    }
